*.swp
*.swo
*.out
# Ignore the pre-calculated contrast index matrices
*.asv
documentation/fig7.jpg
documentation/Getting Started With HOLO.docx
documentation/fig0.jpg
documentation/fig1.jpg
documentation/fig2.jpg
documentation/fig3.jpg
documentation/fig4.jpg
documentation/fig5.jpg
documentation/fig6.jpg
documentation/Getting Started With HOLO.docx
